<div class="header container">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="@{ConnectR}">Connect
                    <li>
                        <a href="@{PeersR}">Peers
                    <li>
                        <a href="@{MessagesR}">Messages
                    <li>
                        <a href="@{ArticleR}">Article
