<h1>Messages</h1>

    <form method=post action=@{MessagesR} enctype=#{formEnctype} class="form-horizontal">
      ^{formWidget}
      <input type="submit" value="Post" class="btn btn-primary submit-style">

<h3>Global Feed</h3>
    $forall Entity (Key (PersistInt64 msgId)) (Message pid msg) <- msgs
      <p>#{show msgId} #{pid} #{msg}
    
